{% extends 'PegWebBundle::bootstrap/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-2 col-md-offset-5 text-center">
            <a href="#" id="registerPeg" class="btn btn-lg btn-success">
                <i class="fa fa-hand-o-right"></i> Register Peg <i class="fa fa-hand-o-left"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <center><h3>Recent pegs</h3></center>
        </div>
    </div>
    <div class="row pegski-recent-pegs"></div>
{% endblock %}