{% extends 'PegWebBundle::bootstrap/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-2 col-md-offset-5 text-center">
            <a href="#" id="registerPeg" class="btn btn-lg btn-pegski">
                <i class="icon-noun_33349_cc"></i> Register Peg
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <center><h3>Recent pegs</h3></center>
        </div>
    </div>
    <div class="row pegski-recent-pegs"></div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('bundles/pegweb/js/main.js') }}"></script>
{% endblock %}
