{% extends 'PegWebBundle::bootstrap/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <center><h3>Recent pegs</h3></center>
        </div>
    </div>
    <div class="row pegski-recent-pegs"></div>
{% endblock %}