{% extends 'PegWebBundle::bootstrap/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <center><h3>Recent pegs</h3></center>
        </div>
    </div>
    <div class="row pegski-recent-pegs">
        {#<div class="col-md-3">#}
            {#<div class="pegski-peg-block" style="">#}
                {#<div class="pegski-peg-image" style="height: 200px; background-color: #333">#}
                    {#<span style="color: #fff;">Picture!</span>#}
                {#</div>#}
                {#<div class="pegski-peg-description">#}
                    {#<i class="fa fa-clock-o" aria-hidden="true"></i>#}
                    {#9:40 @ Veluwemeer by <span class="peg-owner">GJSXU</span>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-md-3">#}
            {#<div class="pegski-peg-block" style="">#}
                {#<div class="pegski-peg-image" style="height: 200px; background-color: #333">#}
                    {#<span style="color: #fff;">Picture!</span>#}
                {#</div>#}
                {#<div class="pegski-peg-description">#}
                    {#<i class="fa fa-clock-o" aria-hidden="true"></i>#}
                    {#9:40 @ Veluwemeer by <span class="peg-owner">GJSXU</span>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-md-3">#}
            {#<div class="pegski-peg-block" style="">#}
                {#<div class="pegski-peg-image" style="height: 200px; background-color: #333">#}
                    {#<span style="color: #fff;">Picture!</span>#}
                {#</div>#}
                {#<div class="pegski-peg-description">#}
                    {#<i class="fa fa-clock-o" aria-hidden="true"></i>#}
                    {#9:40 @ Veluwemeer by <span class="peg-owner">GJSXU</span>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-md-3">#}
            {#<div class="pegski-peg-block" style="">#}
                {#<div class="pegski-peg-image" style="height: 200px; background-color: #333">#}
                    {#<span style="color: #fff;">Picture!</span>#}
                {#</div>#}
                {#<div class="pegski-peg-description">#}
                    {#<i class="fa fa-clock-o" aria-hidden="true"></i>#}
                    {#9:40 @ Veluwemeer by <span class="peg-owner">GJSXU</span>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    </div>
{% endblock %}