{#- this is the base (responsive) file -#}
<!DOCTYPE html>

    <!--[if IE 8 ]>
    <html lang="nl" class="ie8"><![endif]-->
    <!--[if IE 9 ]>
    <html lang="nl" class="ie9"><![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!-->
    <html lang="nl"> <!--<![endif]-->
    <head>

        {% block meta %}
            <meta charset="utf-8"/>
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock meta %}

        <title>{% block title %}pegski{% endblock %}</title>

        {% block styles %}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        {% endblock %}

        {% block javascript %}
            <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div id="site-wrapper">

            {% block header %}
                <div id="header">
                    {% block navigation %}{% endblock %}
                </div>
            {% endblock %}

            <div id="content">
                {% block content %}{% endblock %}
            </div>

            {% block footer %}{% endblock %}

            {% block stickyBottom %}
                <div id="sticky-bottom">

                </div>
            {% endblock %}

        </div>

        {% block javascriptBottom %}

        {% endblock %}
    </body>
</html>
